@font-face {
    font-family: 'personal_servicesregular';
    src: url('../src/fonts/personalservices-webfont.woff2') format('woff2'),
         url('../fonts/personalservices-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*----------css-reset----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
	line-height: 1.6;
}

button {
	margin:0;
	padding:0;
}

body, html {
	margin:0;
	padding:0;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
}

html,body{
  padding:0;
  margin:0;
  clear: both;
  font-family: "Open Sans", Helvetica, sans-serif;
}

/*BACKGROUNDS*/
.bg-high-blue{
  background-color:rgba(230,233,240,1);
}
.bg-medium-blue{
  background-color:rgba(194,221,230,1);
}
.bg-low-blue{
  background-color:rgba(188,203,222,1);
}

.bg-purple{
  background-color:rgba(67,28,93,1);
}

.bg-orange{
  background-color:rgba(224,89,21,1);
}
.bg-red{
	background-color: rgba(190, 26, 34, 1);
}
.bg-charcoal{
  background-color:rgba(33,33,33,1);
}
.bg-white{
  background-color:rgba(255,255,255,1);
}
.bg-black{
  background-color:rgba(0,0,0,1);

}
.bg-grey{
  background-color:rgba(155,155,155,1)
}

/*** TEXT ****/
.font-persona{
  font-family: 'personal_servicesregular', 'Lato', Helvetica, sans-serif;
}
.font-lato{
  font-family: 'Lato', Helvetica, sans-serif;
}
.font-open-sans{
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.text-light {
	font-weight: 300;
}

.text-bold {
	font-weight: 700;
}

.text-extra-bold {
	font-weight: 900;
}

.text-oblique {
	font-style: oblique;
}

.text-center {
	text-align: center;
}

.text-center-mob {
	text-align: inherit;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-shadow {
	text-shadow: 4px 4px 0px rgba(000, 000, 000, 0.3);
}

.text-hand {
	font-family: 'Bangers', cursive;
}

.text-line-height-1 {
	line-height: 1;
}

.text-line-height-12 {
	line-height: 1.2;
}

.text-line-height-14 {
	line-height: 1.4;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-no-dec {
	text-decoration: none;
}

/*Text Colours*/

.text-high-blue{
  color:rgba(230,233,240,1);
}
.text-medium-blue{
  color:rgba(194,221,230,1);
}
.text-low-blue{
  color:rgba(188,203,222,1);
}

.text-purple{
  color:rgba(67,28,93,1);
}

.text-orange{
  color:rgba(224,89,21,1);
}
.text-charcoal{
  color:rgba(33,33,33,1);
}
.text-white{
  color:rgba(255,255,255,1);
}
.text-grey{
  color:rgba(155,155,155,1)
}

/******* MAIN **********/

.main-content{
	width:100vw;
	height:100vh;
}

/*WEBGL STYLING*/
.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}
