@font-face {
    font-family: 'personal_servicesregular';
    src: url('./fonts/personalservices-webfont.woff2') format('woff2'),
         url('./fonts/personalservices-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*----------css-reset----------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
	line-height: 1.6;
}

button {
	margin:0;
	padding:0;
}

body, html {
	margin:0;
	padding:0;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
}

html,body{
  padding:0;
  margin:0;
  clear: both;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.font-persona{
  font-family: 'personal_servicesregular', 'Lato', Helvetica, sans-serif;
}
.font-lato{
  font-family: 'Lato', Helvetica, sans-serif;
}
.font-open-sans{
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.App {
  height: 100vh;
  transition:.5s;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************************************** END OF DEFAULT ******************************************/

/**************** Typography *****************/

h1,h2,h3,h4,h5{
  font-family:'personal_servicesregular', 'Lato', Helvetica, sans-serif;
}
p,a{
  font-family: "Open Sans", sans-serif;
}

h1{
  font-size: 4rem;
  line-height:1.5;

}
h2{
  font-size: 3.5rem;
  line-height:1.3;

}
h3{
  font-size:2.6rem;
  line-height:1.3;
}
h4{
  font-size:2.4rem;
  line-height:1.3;
}
h5{
  font-size:2rem;
  line-height:1.3;
}
p, a, span, .btn {
  font-size:1.6rem;
  line-height:1.5;
}

.text-light {
	font-weight: 300;
}

.text-bold {
	font-weight: 700;
}

.text-extra-bold {
	font-weight: 900;
}

.text-oblique {
	font-style: oblique;
}

.text-center {
	text-align: center;
}

.text-center-mob {
	text-align: inherit;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-shadow {
	text-shadow: 4px 4px 0px rgba(000, 000, 000, 0.3);
}

.text-hand {
	font-family: 'Bangers', cursive;
}

.text-line-height-1 {
	line-height: 1;
}

.text-line-height-12 {
	line-height: 1.2;
}

.text-line-height-14 {
	line-height: 1.4;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-no-dec {
	text-decoration: none;
}

/*COLOUR CODING*/

/*BACKGROUNDS*/
.bg-high-blue{
  background-color:rgba(230,233,240,1);
}
.bg-medium-blue{
  background-color:rgba(194,221,230,1);
}
.bg-low-blue{
  background-color:rgba(188,203,222,1);
}

.bg-purple{
  background-color:rgba(67,28,93,1);
}

.bg-orange{
  background-color:rgba(224,89,21,1);
}
.bg-red{
	background-color: rgba(190, 26, 34, 1);
}
.bg-charcoal{
  background-color:rgba(33,33,33,1);
}
.bg-white{
  background-color:rgba(255,255,255,1);
}
.bg-black{
  background-color:rgba(0,0,0,1);

}
.bg-grey{
  background-color:rgba(155,155,155,1)
}

.bg-webdev{
  background-image:url("./images/WebDev-banner.png");
  background-size:auto 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  height:100%;
}
.bg-gamedev{
  background-image:url("./images/GameDev-banner3.png");
  background-size:auto 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  height:100%;
}
/*Text Colours*/

.text-high-blue{
  color:rgba(230,233,240,1);
}
.text-medium-blue{
  color:rgba(194,221,230,1);
}
.text-low-blue{
  color:rgba(188,203,222,1);
}

.text-purple{
  color:rgba(67,28,93,1);
}

.text-orange{
  color:rgba(224,89,21,1);
}
.text-charcoal{
  color:rgba(33,33,33,1);
}
.text-white{
  color:rgba(255,255,255,1);
}
.text-grey{
  color:rgba(155,155,155,1)
}

/********* Buttons **********/

.btn{
  cursor: pointer;
  display: block;
  font-family:'personal_servicesregular', 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  left:50%;
  margin-top: 10px;
  padding: 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: rotate(-3deg) skew(-12deg) translateX(-50%);
  transition: .2s all linear;
  width: 200px;
}
.btn.orange{
  background-color: rgba(224,89,21,1);
  border: 10px solid rgba(0,0,0,1);
  color: #ffffff;
}

.btn.orange:hover{
  background-color:rgba(190,26,34,1);
}
.btn.white{
  background-color: rgba(255,255,255,1);
  border: 10px solid rgba(0,0,0,1);
  color: #000000;
}

.btn.white:hover{
  background-color: rgba(0,0,0,1);
  border: 10px solid rgba(255,255,255,1);
  color: #ffffff;
}

/********Nav Menu********/
.hamburguer {
  cursor: pointer;
  display: inline-block;
  left:32px;
  top:32px;
  position:fixed;
  z-index:1001;
}

.bar1, .bar2, .bar3 {
  background-color: #FFFFFF;
  cursor:pointer;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
  width: 35px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.popup-close{
  display: inline-block;
  height:auto;
  position:fixed;
  right:32px;
  top:32px;
  width: auto;
}

.popup-close .bar1{
  -webkit-transform: rotate(-45deg) translate(0, 6px);
  transform: rotate(-45deg) translate(0, 6px);
}
.popup-close .bar2{
  -webkit-transform: rotate(45deg) translate(0, -9px);
  transform: rotate(45deg) translate(0, -9px);
}

/******SIDENAV********/
.sideNav {
  height: 100%; /* 100% Full-height */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  position: fixed; /* Stay in place */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  top: 0; /* Stay at the top */
  width: 0; /* 0 width - change this with JavaScript */
	z-index: 1000;
}

/* The navigation menu links */
.sideNav .nav-link {
  background-color: rgba(224,89,21,1);
  border: 10px solid rgba(0,0,0,1);
  color: #ffffff;
  cursor:pointer;
  display: block;
  font-family:'personal_servicesregular', 'Lato', Helvetica, sans-serif;
  font-size: 25px;
  left:10px;
  margin-top: 10px;
  padding: 16px 8px;
  position: relative;
  text-align: right;
  text-decoration: none;
  transform: rotate(-6deg) skew(-20deg);
  transition: .2s all linear;
}

.sideNav .nav-link:hover{
  animation: wiggle .1s forwards;
}

.sideNav .nav-link.active-link{
  background-color: rgba(190, 26, 34, 1);
  font-size: 30px;
  left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  transform: rotate(-12deg) skew(-20deg);
  transition: .2s all linear;
}
.sideNav .nav-link.active-link:hover{
  animation: wiggle-active .1s forwards;
}

/* When you mouse over the navigation links, change their color */
.sideNav .nav-link:hover {
  color: #ffffff;
}

.sideNavLinks{
  padding:32px 0;
  transition:.4s all;
}
.nav-bg{
  position: absolute;
  bottom: 0;
  height: 95%;
  width: 95%;
}
.nav-bg-border{
  bottom: 0;
  height: 40%;
  margin-left: -2%;
  position: absolute;
  -webkit-transform: skewX(-2deg);
  transform: skewX(-2deg);
  width: 105%;
}

.nav-contact-info {
  position: absolute;
    top: 30%;
    padding: 0 10% 0 10%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-6deg);
    transform: translateX(-50%) rotate(-6deg);
}

.nav-contact-info a{
  border:none;
  color: #ffffff;
  display: block;
  font-family:'Lato', Helvetica, sans-serif;
  font-size:18px;
  margin-top: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: .2s all linear;
}
.info-text {
  text-align: center;
  font-family: 'personal_servicesregular', 'Lato', Helvetica, sans-serif;
  font-size:12px;
  border: 5px solid black;
  margin: 10px 0;
  transform: skew(-12deg);
}

.clip-left-to-right{
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}

.clip-right-to-left{
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
}

.heading{
  text-align: center;
  height:10vh;
}
.heading h1{
  position: relative;
  top:50%;
  transform:translateY(-50%);
}

/*********Main Content**********/

#HomePage, .main-body, #development-page, #web-development-page{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition:.5s all;
}
#development-page{
  width:100%;
  height:100%;
}
.game-section{
  height:auto;
}
.first-section{
  background-image:url("./images/home-banner-v2.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
	position: relative;
	width: 100%;
}
#development-page .first-section{
  background-image:url("./images/home-banner-v3.png");
}
#web-development-page .first-section{
  background-image:url("./images/home-banner-v1.png");
}

.second-section{
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  height:auto;
  padding:64px 0 128px 0;
  position:relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  width: 100%;
  z-index: 1;
}
.third-section{
  height:auto;
  padding:164px 0 128px 0;
  position:relative;
  width: 100%;
  z-index: 0;
}
.fourth-section{
  height: auto;
  position: relative;
  width: 100%;
  z-index: 0;
}
.fourth-section .group{
  height:100vh;
}

.section-content{
  left:50%;
  max-width:960px;
  position: relative;
  top:15%;
  transform: translateX(-50%);
  width:100%;
}
#development-section a{
  position:absolute;
  color:#ffffff;
	text-decoration: none;
  font-size:3.5rem;
  top:64px;
  left:50%;
  transform:translateX(-50%);
}

.game-thumbnails{
  width: calc(100% - 20px);
  border: 10px solid black;
  transition: .2s all ease-in;

}
.game-thumbnails:hover{
  border-color:white;
}
.game-cols{
  text-align:center;
  margin:1.6% 0 1.6% 3.2%;
  display: block;
  float: left;
  position: relative;
}
.game-cols:first-child{
  margin-left:0;
}
.game-cols a{
  text-decoration:none;
}

div.pop-up{
  font-size:1.6rem;
  cursor:pointer;
}
div.pop-up h5{
  margin-top:8px;
}
#game-container{
  max-width:960px;
  height: auto;
  position: relative;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}
#\#canvas {
    width: 100%;
    min-width: 800px;
    min-height:600px;
}

/*----------footer----------*/

#footer {
	bottom:0;
	position:relative;
	width:100%;
	z-index:1;
}
.footer {
	background-color: rgba(233,233,233,1);
}

.footer input[type=text], .footer input[type=password], .footer input[type=email], .footer select, .footer textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0px;
	border: none;
	box-sizing: border-box;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 12px;
	resize: none;
	width: 100%;
	font-family: inherit;
	font-size: 1.6rem;
}

.footer textarea {
	height: 150px;
}

.footer input[type=submit] {
 	margin-top:8px;
}

.footer a {
	color: rgba(33,33,33,1);
	text-decoration: underline;
}

.footer a:hover {
	color: rgba(0,0,0,1);
	text-decoration: none;
}
.footer p{
  color:rgba(0,0,0,1);
}

.footer h2:after {
	border:0.5px solid rgba(97,95,93,1);
	display:block;
	content:'';
	margin-bottom: 8px;
	margin-top: 8px;
	width:100%;
}

.site-map{
  cursor: pointer;
  text-decoration: underline;
}
.site-map:hover{
  text-decoration: none;
}
/******** Miscelaneous ***********/

.space-32
{
  padding:32px;
}

.underline-after{
	width: 100%;
  height: 2px;
  position: relative;
	margin:12px 0;
}

/*----------columns----------*/
.page-wrapper {
	margin: auto;
	max-width: 1000px;
	width: 100%;
}

.page-inner-wrapper {
	padding: 6% 3%;
	width: auto;
}

.col {
	display: block;
	float: left;
	/*margin: 1.6% 0 1.6% 3.2%;*/
  position:relative;
}
.col-footer{
	display: block;
    float: left;
    margin: 1.6% 0 1.6% 3.2%;
    position: relative;
}
.col:first-child, .col-footer:first-child {
	margin-left: 0;
}

.col-inner-container {
	margin: 16px;
}

.col.fullImage img {
	width: 100%;
}

/*----------groups ----------*/

.group:before, .group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* For IE 6/7 */
  height: 100%;
  display:flex;
}

/*----------Grid of 2 ----------*/

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}

/*----------Grid of 3 ----------*/

.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 65.6%;
}
.span_1_of_3 {
	width: 31.2%;
}

/*----------Grid of 4 ----------*/

.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.2%;
}
.span_2_of_4 {
	width: 48.4%;
}
.span_1_of_4 {
	width: 22.6%;
}

/*----------Grid of 6 ----------*/

.span_6_of_6 {
	width: 100%;
}
.span_5_of_6 {
	width: 82.8%;
}
.span_4_of_6 {
	width: 65.6%;
}
.span_3_of_6 {
	width: 48.4%;
}
.span_2_of_6 {
	width: 31.2%;
}
.span_1_of_6 {
	width: 14%;
}

/*----------Grid of 12 ----------*/

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.4%;
}
.span_10_of_12 {
  	width: 82.8%;
}

.span_9_of_12 {
  	width: 74.2%;
}

.span_8_of_12 {
  	width: 65.6%;
}

.span_7_of_12 {
  	width: 57%;
}

.span_6_of_12 {
  	width: 48.4%;
}

.span_5_of_12 {
  	width: 39.8%;
}

.span_4_of_12 {
  	width: 31.2%;
}

.span_3_of_12 {
  	width: 22.6%;
}

.span_2_of_12 {
  	width: 14%;
}

.span_1_of_12 {
  	width: 5.4%;
}
/*----------spaces-margins----------*/

.space-before-4 {
	margin-top: 4px;
}

.space-before-8 {
	margin-top: 8px;
}

.space-before-12 {
	margin-top: 12px;
}

.space-before-16 {
	margin-top: 16px;
}

.space-before-24 {
	margin-top: 24px;
}

.space-before-36 {
	margin-top: 36px;
}

.space-before-48 {
	margin-top: 48px;
}

.space-after-4 {
	margin-bottom: 4px;
}

.space-after-8 {
	margin-bottom: 8px;
}

.space-after-12 {
	margin-bottom: 12px;
}

.space-after-16 {
	margin-bottom: 16px;
}

.space-after-24 {
	margin-bottom: 24px;
}

.space-after-36 {
	margin-bottom: 36px;
}

.space-after-48 {
	margin-bottom: 48px;
}

.space-right-4 {
	margin-right: 4px;
}

.space-right-8 {
	margin-right: 8px;
}

.space-right-12 {
	margin-right: 12px;
}

.space-right-16 {
	margin-right: 16px;
}

.padding-4 {
	padding: 4px;
}

.padding-8 {
	padding: 8px;
}

.padding-16 {
	padding: 16px;
}

.padding-32 {
	padding: 32px;
}
.padding-top-64 {
	padding-top: 64px;
}


/*********** PopUp **************/

.popup-panel {
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    position: fixed;
    top:0;
    width: 100vw;
    transition: .4s ease-in;
    z-index: 1002;
}
.popup-panel .wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  padding:32px;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}
.popup-image {
    text-align: center;
}
.popup-image img{
  width:100%;
}
.popup-heading-text, .popup-description {
    text-align: center;
    color: white;
    margin: 32px 0;
}


/********** Animations **********/

@keyframes wiggle{
  0%{
    left:10px;
  }
  100%{
    left:50px;
  }
}
@keyframes wiggle-active{
  0%{
    left:50px;
  }
  100%{
    left:75px;
  }
}
